//
   Created by karan on 3/9/2015.
h3
   | forgot_password
   form(action='/forgot_password', method='POST')
      | email :
      input(type='text', name='email')
      input(type='submit', value='submit')
