//
   Created by karan on 3/9/2015.
h3
   | reset_password
   form(action='/reset_password', method='POST')
      | access_token :
      input(type='text', name='access_token')
      | new_password :
      input(type='text', name='new_password')
      input(type='submit', value='submit')